<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
  <input name="name" placeholder="Name" required>
  <input name="email" placeholder="Email" required>
  <input name="phone" placeholder="Phone" required>
  <input name="password" type="password" placeholder="Password" required>
  <button>Register</button>
</form>
<a href="/login">Login</a>
</body>
</html>